.sort-medal {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.sort-medal--gold {
  background-color: #c5b358;
}

.sort-medal--silver {
  background-color: #c0c0c0;
}

.sort-medal--bronze {
  background-color: #cd7f32;
}
